<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-card">
            <h4 class="modal-title">Product Details</h4>
            <hr>
            <div class="modal-body row">
                <!-- Left Column -->
                <div class="col-md-6">
                    <div class="detail-item">
                        <strong>Name:</strong> {{ data?.name }}
                    </div>
                    <div class="detail-item">
                        <strong>Brand:</strong> {{ data?.brand }}
                    </div>
                    <div class="detail-item">
                        <strong>Description:</strong> {{ data?.description }}
                    </div>
                    <div class="detail-item">
                        <strong>Unit Price:</strong> {{ data?.unitPrice }}
                    </div>
                    <div class="detail-item">
                        <strong>Category:</strong> {{ data?.category }}
                    </div>
                    <div class="detail-item">
                        <strong>Created:</strong> {{ data?.created | date:'dd/MM/yyyy HH:mm' }}
                    </div>

                </div>
                <!-- Right Column -->
                <div class="col-md-6">
                    <div class="detail-item" *ngIf="data?.modified">
                        <strong>Modified:</strong> {{ data?.modified | date:'dd/MM/yyyy HH:mm' }}
                    </div>
                    <div class="detail-item">
                        <strong>Unit Quantity:</strong> {{ data?.unitQuantity }}
                    </div>
                    <div class="detail-item">
                        <strong>Volume:</strong> {{ data?.volume }}
                    </div>
                    <div class="detail-item">
                        <strong>Scent:</strong> {{ data?.scent }}
                    </div>
                    <div class="detail-item">
                        <strong>Edition:</strong> {{ data?.edition }}
                    </div>
                    <div class="detail-item">
                        <strong>Subcategory:</strong> {{ data?.subcategory }}
                    </div>
                    <div class="detail-item" *ngIf="data?.modifiedBy">
                        <strong>Modified By:</strong> {{ data?.modifiedBy }}
                    </div>
                    <div class="detail-item">
                        <strong>Created By:</strong> {{ data?.createdBy }}
                    </div>
                    <div class="detail-item" *ngIf="data?.subcategories?.length > 0">
                        <strong>Subcategories:</strong>
                        <div class="subcategory-list">
                            <span class="badge badge-pill badge-primary"
                                *ngFor="let subcategory of data?.subcategories">
                                {{ subcategory }}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 text-center my-3">
                    <img class="img-thumbnail" style="height: 300px; width: 300px;" [src]="imageSrc"
                        alt="Product Image" />
                </div>
            </div>
            <hr>
            <div class="modal-footer row">
                <div class="col-12 text-right">
                    <button class="btn btn-secondary" (click)="closeMe()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>