.navbar-bordered {
    border-bottom: 1px solid black;
}

.modal-container{
    display: flex;
    justify-content: center;
}

#img-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-nav .nav-item .nav-link {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 20px;
    padding: 8px 16px;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #212529;
    background-color: #FEBE10;
    text-decoration: none;
  }
  
  .navbar-nav .nav-item .dropdown-menu li a {
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    padding: 8px 16px;
  }
  
  .navbar-nav .nav-item .dropdown-menu li a:hover {
    background-color: #FFD700;
    color: #212529;
    text-decoration: none;
  }

  .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
  }
  
  .dropdown-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border-radius: 5px;
  }
  
  