<footer class="bg-dark text-white mt-5 p-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec.</p>
        </div>
        <div class="col-md-4">
          <h5>Contact</h5>
          <ul class="list-unstyled">
            <li>Email: infoexampasdlecom</li>
            <li>Phone: +123 456 7890</li>
            <li>Address: 123 Main St, City, Country</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" target="_blank" class="text-white">
                <i class="fab fa-facebook"></i> Facebook
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://x.com/?lang=en" target="_blank" class="text-white">
                <i class="fab fa-twitter"></i> Twitter
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/" target="_blank"  class="text-white">
                <i class="fab fa-instagram"></i> Instagram
              </a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="bg-white">
      <p class="mb-0">© 2024 Your Company. All Rights Reserved.</p>
    </div>
  </footer>
  